# STM32CubeIDE build outputs
Debug/
Release/
SlotA_Debug/
SlotB_Debug/
SlotA_Release/
SlotB_Release/
*.elf
*.bin
*.hex
*.map
*.list
*.o
*.d
*.su
*.cyclo

# IDE/cache
.metadata/
**/.settings/language.settings.xml